Repository spacetelescope/stpipe, pull requests merged in 2022-07, with the labels that each got.

#57 JP-2609: Fix ignored step-pars during cmdline pipeline run
  CHANGES.rst
  src/stpipe/cmdline.py
  src/stpipe/pipeline.py
  src/stpipe/step.py
Labels: bug

#60 JP-2608: Remove misleading log of CRDS pars-ref pars
  CHANGES.rst
  src/stpipe/step.py
Labels: logging

#66 Revert "Pull first model from ModelContainers before datamodel methods applied"
  CHANGES.rst
  src/stpipe/step.py
Labels: no-changelog-entry-needed
