Repository spacetelescope/stpipe, pull requests merged in 2023-10, with the labels that each got.

#111 use PyPI upload workflow from OpenAstronomy
  .github/workflows/build.yml
  .github/workflows/changelog.yml
  .github/workflows/ci.yml
  .github/workflows/ci_cron.yml
  .github/workflows/publish-to-pypi.yml
Labels: no-changelog-entry-needed

#117 Install dev wheels properly
  tox.ini
Labels: no-changelog-entry-needed, Weekly CI

#123 retrieve WebbPSF data for downstream CI testing
  .github/workflows/ci.yml
  .github/workflows/data.yml
  tox.ini
Labels: no-changelog-entry-needed

#125 Revert #123
  .github/workflows/ci.yml
  .github/workflows/data.yml
  tox.ini
Labels: no-changelog-entry-needed

#124 Remove lingering NumPy references
  tox.ini
Labels: no-changelog-entry-needed, update webbpsf data
